In [2]:
# Import pandas library
import pandas as pd

In [3]:
# Data Structures
# Series
ser = pd.Series([1, 2, 3, 4, 5])
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [12]:
# Reading data from a CSV file
df = pd.read_csv('pokemon_data.csv')

In [11]:
# Displaying the first 5 rows of the dataframe
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [13]:

# Displaying the last 5 rows of the dataframe
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [14]:

# Displaying the shape of the dataframe
print(df.shape)

(800, 12)

In [15]:
# Displaying the columns of the dataframe
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [21]:

# Displaying the data types of the columns
print(df.dtypes)

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [26]:
# Selecting a single column
col1 = df['Speed']
col2 = df.Speed
print(col2)

0       45
1       60
2       80
3       80
4       65
      ...
795     50
796    110
797     70
798     80
799     70
Name: Speed, Length: 800, dtype: int64

In [27]:
# Selecting multiple columns
cols = df[['Type 1', 'Type 2', 'HP']]
print(cols)

      Type 1  Type 2  HP
0      Grass  Poison  45
1      Grass  Poison  60
2      Grass  Poison  80
3      Grass  Poison  80
4       Fire     NaN  39
..       ...     ...  ..
795     Rock   Fairy  50
796     Rock   Fairy  50
797  Psychic   Ghost  80
798  Psychic    Dark  80
799     Fire   Water  80

[800 rows x 3 columns]

In [28]:
# Filtering rows based on a condition
filtered_rows = df[df['Speed'] > 10]
print(filtered_rows)

       #                   Name   Type 1  Type 2  HP  Attack  Defense
0      1              Bulbasaur    Grass  Poison  45      49       49  \
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[795 rows x 12 columns]

In [29]:
# Sorting the dataframe by a column
sorted_df = df.sort_values('Generation')
print(sorted_df)

       #       Name    Type 1   Type 2   HP  Attack  Defense  Sp. Atk
0      1  Bulbasaur     Grass   Poison   45      49       49       65  \
106   98     Krabby     Water      NaN   30     105       90       25
107   99    Kingler     Water      NaN   55     130      115       50
108  100    Voltorb  Electric      NaN   40      30       50       55
110  102  Exeggcute     Grass  Psychic   60      40       80       60
..   ...        ...       ...      ...  ...     ...      ...      ...
741  673     Gogoat     Grass      NaN  123     100       62       97
740  672     Skiddo     Grass      NaN   66      65       48       62
739  671    Florges     Fairy      NaN   78      65       68      112
737  669    Flabébé     Fairy      NaN   44      38       39       61
799  721  Volcanion      Fire    Water   80     110      120      130

     Sp. Def  Speed  Generation  Legendary
0         65     45           1      False
106       25     50           1      False
107       50     75           1      False
108       55    100           1      False
110       45     40           1      False
..       ...    ...         ...        ...
741       81     68           6      False
740       57     52           6      False
739      154     75           6      False
737       79     42           6      False
799       90     70           6       True

[800 rows x 12 columns]

In [31]:
# Grouping the dataframe by a column and aggregating values
grouped_df = df.groupby('Speed').agg({'Attack': 'sum', 'Defense': 'mean'})
print(grouped_df)

       Attack     Defense
Speed
5          95  135.000000
10        230   77.000000
15        430   53.666667
20        980   75.666667
22         78  103.000000
...       ...         ...
140       200   70.000000
145       330   51.666667
150       515   55.000000
160        90   45.000000
180        95   90.000000

[108 rows x 2 columns]

In [32]:
# Adding a new column to the dataframe
df['newwww'] = df['Attack'] + df['Defense']
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense
0      1              Bulbasaur    Grass  Poison  45      49       49  \
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  newwww
0         65       65     45           1      False      98
1         80       80     60           1      False     125
2        100      100     80           1      False     165
3        122      120     80           1      False     223
4         60       50     65           1      False      95
..       ...      ...    ...         ...        ...     ...
795      100      150     50           6       True     250
796      160      110    110           6       True     270
797      150      130     70           6       True     170
798      170      130     80           6       True     220
799      130       90     70           6       True     230

[800 rows x 13 columns]

In [36]:

# Renaming columns
df = df.rename(columns={'new_name': 'Fight'})
print(df)

       #                   Name   Type 1  Type 2  HP  Fight  Defense  Sp. Atk
0      1              Bulbasaur    Grass  Poison  45     49       49       65  \
1      2                Ivysaur    Grass  Poison  60     62       63       80
2      3               Venusaur    Grass  Poison  80     82       83      100
3      3  VenusaurMega Venusaur    Grass  Poison  80    100      123      122
4      4             Charmander     Fire     NaN  39     52       43       60
..   ...                    ...      ...     ...  ..    ...      ...      ...
795  719                Diancie     Rock   Fairy  50    100      150      100
796  719    DiancieMega Diancie     Rock   Fairy  50    160      110      160
797  720    HoopaHoopa Confined  Psychic   Ghost  80    110       60      150
798  720     HoopaHoopa Unbound  Psychic    Dark  80    160       60      170
799  721              Volcanion     Fire   Water  80    110      120      130

     Sp. Def  Speed  Generation  Legendary  newwww
0         65     45           1      False      98
1         80     60           1      False     125
2        100     80           1      False     165
3        120     80           1      False     223
4         50     65           1      False      95
..       ...    ...         ...        ...     ...
795      150     50           6       True     250
796      110    110           6       True     270
797      130     70           6       True     170
798      130     80           6       True     220
799       90     70           6       True     230

[800 rows x 13 columns]

In [37]:
# Dropping columns from the dataframe
df = df.drop(columns=['Type 1', 'Type 2'])
print(df)

       #                   Name  HP  Fight  Defense  Sp. Atk  Sp. Def  Speed
0      1              Bulbasaur  45     49       49       65       65     45  \
1      2                Ivysaur  60     62       63       80       80     60
2      3               Venusaur  80     82       83      100      100     80
3      3  VenusaurMega Venusaur  80    100      123      122      120     80
4      4             Charmander  39     52       43       60       50     65
..   ...                    ...  ..    ...      ...      ...      ...    ...
795  719                Diancie  50    100      150      100      150     50
796  719    DiancieMega Diancie  50    160      110      160      110    110
797  720    HoopaHoopa Confined  80    110       60      150      130     70
798  720     HoopaHoopa Unbound  80    160       60      170      130     80
799  721              Volcanion  80    110      120      130       90     70

     Generation  Legendary  newwww
0             1      False      98
1             1      False     125
2             1      False     165
3             1      False     223
4             1      False      95
..          ...        ...     ...
795           6       True     250
796           6       True     270
797           6       True     170
798           6       True     220
799           6       True     230

[800 rows x 11 columns]

In [38]:
# Filling missing values with a default value
df = df.fillna(0)
print(df)

       #                   Name  HP  Fight  Defense  Sp. Atk  Sp. Def  Speed
0      1              Bulbasaur  45     49       49       65       65     45  \
1      2                Ivysaur  60     62       63       80       80     60
2      3               Venusaur  80     82       83      100      100     80
3      3  VenusaurMega Venusaur  80    100      123      122      120     80
4      4             Charmander  39     52       43       60       50     65
..   ...                    ...  ..    ...      ...      ...      ...    ...
795  719                Diancie  50    100      150      100      150     50
796  719    DiancieMega Diancie  50    160      110      160      110    110
797  720    HoopaHoopa Confined  80    110       60      150      130     70
798  720     HoopaHoopa Unbound  80    160       60      170      130     80
799  721              Volcanion  80    110      120      130       90     70

     Generation  Legendary  newwww
0             1      False      98
1             1      False     125
2             1      False     165
3             1      False     223
4             1      False      95
..          ...        ...     ...
795           6       True     250
796           6       True     270
797           6       True     170
798           6       True     220
799           6       True     230

[800 rows x 11 columns]

In [39]:
# Replacing values in a column
df['column1'] = df['Fight'].replace('old_value', 'new_value')
print(df)

       #                   Name  HP  Fight  Defense  Sp. Atk  Sp. Def  Speed
0      1              Bulbasaur  45     49       49       65       65     45  \
1      2                Ivysaur  60     62       63       80       80     60
2      3               Venusaur  80     82       83      100      100     80
3      3  VenusaurMega Venusaur  80    100      123      122      120     80
4      4             Charmander  39     52       43       60       50     65
..   ...                    ...  ..    ...      ...      ...      ...    ...
795  719                Diancie  50    100      150      100      150     50
796  719    DiancieMega Diancie  50    160      110      160      110    110
797  720    HoopaHoopa Confined  80    110       60      150      130     70
798  720     HoopaHoopa Unbound  80    160       60      170      130     80
799  721              Volcanion  80    110      120      130       90     70

     Generation  Legendary  newwww  column1
0             1      False      98       49
1             1      False     125       62
2             1      False     165       82
3             1      False     223      100
4             1      False      95       52
..          ...        ...     ...      ...
795           6       True     250      100
796           6       True     270      160
797           6       True     170      110
798           6       True     220      160
799           6       True     230      110

[800 rows x 12 columns]

In [41]:
# Applying a function to a column
df['new_column'] = df['HP'].apply(lambda x: x * 2)
print(df)

       #                   Name  HP  Fight  Defense  Sp. Atk  Sp. Def  Speed
0      1              Bulbasaur  45     49       49       65       65     45  \
1      2                Ivysaur  60     62       63       80       80     60
2      3               Venusaur  80     82       83      100      100     80
3      3  VenusaurMega Venusaur  80    100      123      122      120     80
4      4             Charmander  39     52       43       60       50     65
..   ...                    ...  ..    ...      ...      ...      ...    ...
795  719                Diancie  50    100      150      100      150     50
796  719    DiancieMega Diancie  50    160      110      160      110    110
797  720    HoopaHoopa Confined  80    110       60      150      130     70
798  720     HoopaHoopa Unbound  80    160       60      170      130     80
799  721              Volcanion  80    110      120      130       90     70

     Generation  Legendary  newwww  column1  new_column
0             1      False      98       49          90
1             1      False     125       62         120
2             1      False     165       82         160
3             1      False     223      100         160
4             1      False      95       52          78
..          ...        ...     ...      ...         ...
795           6       True     250      100         100
796           6       True     270      160         100
797           6       True     170      110         160
798           6       True     220      160         160
799           6       True     230      110         160

[800 rows x 13 columns]